/* '*' caracter represents all tags selection and the style will be apply to all html 

* {
	border: 1px solid red;
	margin: 10px;
} 

we can add our google fonts by this way:

font-family: 'Montserrat', sans-serif;
font-family: 'Allerta', sans-serif;

*/
/*
box-model
* {
	border: 2px solid red;
	margin: 10px 5px 15px 3px;
	padding: 5px;
}
*/

body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

header {
	/* father node of menu */
	position: relative;
}

.container {
	width: 800px;
	margin: auto;
}

.titulo1 {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-top:70px;
	margin-bottom: 0;
}

.titulo2 {
	font-size: 50px;
	margin-left: 0px;
	margin-bottom: 20px;
}

.slogan {
	margin-top: 0;
	font-size: 24px;
}

.logotipo {
	display: inline-block;
}

.menu {
	font-size: 24px;
	display: inline-block;
	/* the absolute position is align refer to the relative node most near  */
	position: absolute;
	right: 0px;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.portada {
	background-image: url('../images/background.png');
	color: white;
	padding: 20px;
}

.button {
	padding: 7px;
	margin-bottom: 70px;
	border-radius: 5px;
	border: none;
	background: #FD324E;
	color: white;
}

.guitarras {
	color: #1F313C;
}

.guitarras > h2 {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.guitarras ol {
	padding-left: 0px;
}

.guitarra {
	/* when we float elements and it put beside other element, the sizes of them get offset,
	overflow: hidden; ajust the offset 
	overflow: hidden;
	*/
	padding: 10px;
	border: 1px solid #1F313C;
	margin-bottom: 10px;
	/* border-radius create a border rounded into element */
	border-radius: 8px;
}

.guitarra-div-a {
	padding-left: 20px;
}

.guitarra-div-b {
	/* the element float beside is an image with width of 350px, so if we want  margin with 20px
	we must sum 20 + 350 = 370px   */
	margin-left: 370px;
}

.right {
	/* float right property floats a element to right side */
	float: right;
	/* when float is assign we can declare other attributes like position 
	relative, fixed or absolute*/
	position: relative;
	top: -127px;
}

.left {
	/* float left property floats a element to left side */
	float: left;
	position: relative;
	top: 80px;
}

.footer {
	background: #273B47;
	color: white;
}

.footer .container {
	display: flex;
	justify-content: space-between;
}

.contacto {
	display: flex;
	/* we asign 300px of with to contacto and wrap by this way
	the elments will put one on other */
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto a {
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0px;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}


.formulario {
	width: 400px;
	margin: 50px 10px;
	display: flex;
}

.formulario label, .sexo, .intereses {
	margin-bottom: 10px;
}

/* the ',' is equal elemnt1 + element2 will have the styles */
.datos, .comentarios {
	display: flex;
	flex-direction: column;
}

.datos {
	margin-right: 15px;
}

.comentarios {
	align-items: flex-start;
}

.sexo {
	margin-top: 10px;
}

.sexo  label, .intereses  label {
	font-size: 12px;
}